* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
}

nav {
  position: fixed;
  background-color: #ffcc99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  z-index: 1;
  width: 100vw;
  border-bottom-style: solid;
  border-bottom-color: #ffbf80;
}

.logo {
  color: #b35900;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 3px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style-type: none;
}

.nav-links a {
  color: #b35900;
  font-size: 1.2em;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 0px 10px;
  border: solid #ffbf80 2px;
}

.nav-links a:hover {
  background-color: #ff9933;
}

.burgerIcon {
  display: none;
}

.burgerLines {
  background-color: #b35900;
  width: 25px;
  height: 3px;
  margin: 4px;

}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    background-color: #ffeecc;
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .burgerIcon {
    display: block;
    cursor: pointer;
  }
}

/* Container */

.container {
  background-color: #999;
  position: absolute;
  top: 8vh;
  width: 80vw;
  left: 10vw;
  padding-bottom: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.registerForm  .inputName {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.registerForm .inputBox {
  width: 50vw;
  text-align: center;
  height: 40px;
  font-size: 1.3em;
  border-radius: 15px;
  border-style: solid;
}

.registerForm .registerSubmit {
  background-color: #ffcc99;
  width: 25vw;
  margin-top: 20px;
  cursor: pointer;
}

.registerForm .registerSubmit:hover {
  background-color: #ff9933;
}


/* JsonOutput CSS */

.orderedList {
  margin: 40px;
}